!!!
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="UTF-8")/
    %meta(content="IE=edge" http-equiv="X-UA-Compatible")/
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")/
    %link(href="style.css" rel="stylesheet")/
    %title Document
  %body
    .name
      %h1 Buy pizza
    .colom1
      .pizza
      .pizza
    .colom1
      .pizza
      .pizza
.restaurant
  %h1 Наш ресторанчик
  %h3 Наши повора
  .colom1
    .cook
    .cook1
    .cook2
  .colom1
    %h3 Регистрация
    %form
      %label(for="username") Имя пользователя:
      %input#username(name="username" required="" type="text")/
      %label(for="email") Email:
      %input#email(name="email" required="" type="email")/
      %label(for="password") Пароль:
      %input#password(name="password" required="" type="password")/
      %input(type="submit" value="Зарегистрироваться")/